In [47]:
import pandas as pd
import numpy as np

In [48]:
# Store filepath in a variable
crime_all = "Resources/Crime_Data_from_2020_to_Present.csv"

In [49]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
all_crime_df = pd.read_csv(crime_all)

In [50]:
all_crime_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712809,230804266,01/08/2023 12:00:00 AM,01/08/2023 12:00:00 AM,1030,8,West LA,839,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.0611,-118.4184
712810,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
712811,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
712812,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
712813,230906458,03/05/2023 12:00:00 AM,03/05/2023 12:00:00 AM,900,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487

In [51]:
all_crime_df["AREA NAME"].value_counts()

Central        47756
77th Street    45154
Pacific        41306
Southwest      40023
Hollywood      38196
Southeast      36572
Olympic        35734
N Hollywood    35551
Newton         35404
Wilshire       33682
Rampart        33016
West LA        32737
Northeast      30981
Van Nuys       30124
West Valley    29832
Harbor         29599
Devonshire     28809
Topanga        28799
Mission        28537
Hollenbeck     26907
Foothill       24095
Name: AREA NAME, dtype: int64

In [52]:
# create df with only data from a specific region
west_la_df = pd.DataFrame(all_crime_df.loc[all_crime_df["AREA NAME"] == "West LA", :])
west_la_df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
28,200815333,10/15/2020 12:00:00 AM,10/15/2020 12:00:00 AM,2000,8,West LA,814,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,100 S ACARI DR,NaN,34.0701,-118.4679
31,210816993,11/24/2021 12:00:00 AM,04/28/2020 12:00:00 AM,100,8,West LA,859,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,8500 CASHIO ST,NaN,34.0507,-118.3762
39,200810920,06/20/2020 12:00:00 AM,06/20/2020 12:00:00 AM,1000,8,West LA,841,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,12100 SANTA MONICA BL,NaN,34.0423,-118.4656
58,200811087,06/24/2020 12:00:00 AM,06/23/2020 12:00:00 AM,2200,8,West LA,898,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,8900 HARGIS ST,NaN,34.0352,-118.3870
70,200812213,07/23/2020 12:00:00 AM,06/22/2020 12:00:00 AM,2005,8,West LA,898,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",...,AO,Adult Other,956.0,NaN,NaN,NaN,2800 S BEDFORD ST,NaN,34.0346,-118.3857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712747,230805552,02/02/2023 12:00:00 AM,02/02/2023 12:00:00 AM,1800,8,West LA,817,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,1000 WESTWOOD BL,NaN,34.0626,-118.4453
712755,230806046,02/18/2023 12:00:00 AM,02/18/2023 12:00:00 AM,1930,8,West LA,839,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.0611,-118.4184
712798,230804108,01/03/2023 12:00:00 AM,01/02/2023 12:00:00 AM,1130,8,West LA,834,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",...,IC,Invest Cont,956.0,NaN,NaN,NaN,10500 WILSHIRE BL,NaN,34.0643,-118.4321
712807,230806871,03/03/2023 12:00:00 AM,03/02/2023 12:00:00 AM,620,8,West LA,889,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,2000 S HOLT AV,NaN,34.0412,-118.3814
712809,230804266,01/08/2023 12:00:00 AM,01/08/2023 12:00:00 AM,1030,8,West LA,839,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,10200 SANTA MONICA BL,NaN,34.0611,-118.4184

In [53]:
west_la_df.count()

DR_NO             32737
Date Rptd         32737
DATE OCC          32737
TIME OCC          32737
AREA              32737
AREA NAME         32737
Rpt Dist No       32737
Part 1-2          32737
Crm Cd            32737
Crm Cd Desc       32737
Mocodes           29715
Vict Age          32737
Vict Sex          29779
Vict Descent      29779
Premis Cd         32737
Premis Desc       32729
Weapon Used Cd     7704
Weapon Desc        7704
Status            32737
Status Desc       32737
Crm Cd 1          32736
Crm Cd 2           1935
Crm Cd 3             41
Crm Cd 4              2
LOCATION          32737
Cross Street       3273
LAT               32737
LON               32737
dtype: int64

In [54]:
#drop all unnecessary columns
clean_westla_df = west_la_df.loc[:, ["Date Rptd","DATE OCC", "TIME OCC", "AREA NAME", "Crm Cd Desc",
                                      "Vict Age", "LOCATION", "LAT", "LON"]]
clean_westla_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON
28,10/15/2020 12:00:00 AM,10/15/2020 12:00:00 AM,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679
31,11/24/2021 12:00:00 AM,04/28/2020 12:00:00 AM,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762
39,06/20/2020 12:00:00 AM,06/20/2020 12:00:00 AM,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656
58,06/24/2020 12:00:00 AM,06/23/2020 12:00:00 AM,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870
70,07/23/2020 12:00:00 AM,06/22/2020 12:00:00 AM,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857
...,...,...,...,...,...,...,...,...,...
712747,02/02/2023 12:00:00 AM,02/02/2023 12:00:00 AM,1800,West LA,THEFT PLAIN - PETTY ($950 & UNDER),21,1000 WESTWOOD BL,34.0626,-118.4453
712755,02/18/2023 12:00:00 AM,02/18/2023 12:00:00 AM,1930,West LA,BATTERY - SIMPLE ASSAULT,13,10200 SANTA MONICA BL,34.0611,-118.4184
712798,01/03/2023 12:00:00 AM,01/02/2023 12:00:00 AM,1130,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",77,10500 WILSHIRE BL,34.0643,-118.4321
712807,03/03/2023 12:00:00 AM,03/02/2023 12:00:00 AM,620,West LA,THEFT OF IDENTITY,25,2000 S HOLT AV,34.0412,-118.3814
712809,01/08/2023 12:00:00 AM,01/08/2023 12:00:00 AM,1030,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,10200 SANTA MONICA BL,34.0611,-118.4184

In [55]:
clean_westla_df["Crm Cd Desc"].value_counts()

BURGLARY                                     3454
BURGLARY FROM VEHICLE                        2546
THEFT OF IDENTITY                            2494
VEHICLE - STOLEN                             2404
BATTERY - SIMPLE ASSAULT                     2224
                                             ...
HUMAN TRAFFICKING - COMMERCIAL SEX ACTS         1
BIKE - ATTEMPTED STOLEN                         1
BOAT - STOLEN                                   1
CONTRIBUTING                                    1
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE       1
Name: Crm Cd Desc, Length: 109, dtype: int64

In [56]:
top5_westla_crime = clean_westla_df["Crm Cd Desc"].value_counts().head(5)
top5_westla_crime

BURGLARY                    3454
BURGLARY FROM VEHICLE       2546
THEFT OF IDENTITY           2494
VEHICLE - STOLEN            2404
BATTERY - SIMPLE ASSAULT    2224
Name: Crm Cd Desc, dtype: int64

In [57]:
clean_westla_df.dtypes

Date Rptd       object
DATE OCC        object
TIME OCC         int64
AREA NAME       object
Crm Cd Desc     object
Vict Age         int64
LOCATION        object
LAT            float64
LON            float64
dtype: object

In [58]:
#df['Date']= pd.to_datetime(df['Date'])
clean_westla_df["DATE OCC"] = pd.to_datetime(clean_westla_df["DATE OCC"])
clean_westla_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON
28,10/15/2020 12:00:00 AM,2020-10-15,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679
31,11/24/2021 12:00:00 AM,2020-04-28,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762
39,06/20/2020 12:00:00 AM,2020-06-20,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656
58,06/24/2020 12:00:00 AM,2020-06-23,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870
70,07/23/2020 12:00:00 AM,2020-06-22,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857
...,...,...,...,...,...,...,...,...,...
712747,02/02/2023 12:00:00 AM,2023-02-02,1800,West LA,THEFT PLAIN - PETTY ($950 & UNDER),21,1000 WESTWOOD BL,34.0626,-118.4453
712755,02/18/2023 12:00:00 AM,2023-02-18,1930,West LA,BATTERY - SIMPLE ASSAULT,13,10200 SANTA MONICA BL,34.0611,-118.4184
712798,01/03/2023 12:00:00 AM,2023-01-02,1130,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",77,10500 WILSHIRE BL,34.0643,-118.4321
712807,03/03/2023 12:00:00 AM,2023-03-02,620,West LA,THEFT OF IDENTITY,25,2000 S HOLT AV,34.0412,-118.3814
712809,01/08/2023 12:00:00 AM,2023-01-08,1030,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,10200 SANTA MONICA BL,34.0611,-118.4184

In [59]:
clean_westla_df.dtypes

Date Rptd              object
DATE OCC       datetime64[ns]
TIME OCC                int64
AREA NAME              object
Crm Cd Desc            object
Vict Age                int64
LOCATION               object
LAT                   float64
LON                   float64
dtype: object

In [60]:
central_data = pd.DataFrame({
   'date': pd.date_range('2022-01-01', periods=365),
   'value': range(365)})
central_data

          date  value
0   2022-01-01      0
1   2022-01-02      1
2   2022-01-03      2
3   2022-01-04      3
4   2022-01-05      4
..         ...    ...
360 2022-12-27    360
361 2022-12-28    361
362 2022-12-29    362
363 2022-12-30    363
364 2022-12-31    364

[365 rows x 2 columns]

In [61]:
clean_westla_df["year"] = np.nan
clean_westla_df["month"] = np.nan
clean_westla_df["day"] = np.nan
clean_westla_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
28,10/15/2020 12:00:00 AM,2020-10-15,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679,NaN,NaN,NaN
31,11/24/2021 12:00:00 AM,2020-04-28,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762,NaN,NaN,NaN
39,06/20/2020 12:00:00 AM,2020-06-20,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656,NaN,NaN,NaN
58,06/24/2020 12:00:00 AM,2020-06-23,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870,NaN,NaN,NaN
70,07/23/2020 12:00:00 AM,2020-06-22,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
712747,02/02/2023 12:00:00 AM,2023-02-02,1800,West LA,THEFT PLAIN - PETTY ($950 & UNDER),21,1000 WESTWOOD BL,34.0626,-118.4453,NaN,NaN,NaN
712755,02/18/2023 12:00:00 AM,2023-02-18,1930,West LA,BATTERY - SIMPLE ASSAULT,13,10200 SANTA MONICA BL,34.0611,-118.4184,NaN,NaN,NaN
712798,01/03/2023 12:00:00 AM,2023-01-02,1130,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",77,10500 WILSHIRE BL,34.0643,-118.4321,NaN,NaN,NaN
712807,03/03/2023 12:00:00 AM,2023-03-02,620,West LA,THEFT OF IDENTITY,25,2000 S HOLT AV,34.0412,-118.3814,NaN,NaN,NaN
712809,01/08/2023 12:00:00 AM,2023-01-08,1030,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,10200 SANTA MONICA BL,34.0611,-118.4184,NaN,NaN,NaN

In [62]:
clean_westla_df['year']= clean_westla_df['DATE OCC'].dt.year
clean_westla_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
28,10/15/2020 12:00:00 AM,2020-10-15,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679,2020,NaN,NaN
31,11/24/2021 12:00:00 AM,2020-04-28,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762,2020,NaN,NaN
39,06/20/2020 12:00:00 AM,2020-06-20,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656,2020,NaN,NaN
58,06/24/2020 12:00:00 AM,2020-06-23,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870,2020,NaN,NaN
70,07/23/2020 12:00:00 AM,2020-06-22,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857,2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
712747,02/02/2023 12:00:00 AM,2023-02-02,1800,West LA,THEFT PLAIN - PETTY ($950 & UNDER),21,1000 WESTWOOD BL,34.0626,-118.4453,2023,NaN,NaN
712755,02/18/2023 12:00:00 AM,2023-02-18,1930,West LA,BATTERY - SIMPLE ASSAULT,13,10200 SANTA MONICA BL,34.0611,-118.4184,2023,NaN,NaN
712798,01/03/2023 12:00:00 AM,2023-01-02,1130,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",77,10500 WILSHIRE BL,34.0643,-118.4321,2023,NaN,NaN
712807,03/03/2023 12:00:00 AM,2023-03-02,620,West LA,THEFT OF IDENTITY,25,2000 S HOLT AV,34.0412,-118.3814,2023,NaN,NaN
712809,01/08/2023 12:00:00 AM,2023-01-08,1030,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",48,10200 SANTA MONICA BL,34.0611,-118.4184,2023,NaN,NaN

In [63]:
westla_2020_df = pd.DataFrame(clean_westla_df.loc[clean_westla_df["year"] == 2020, :])
westla_2021_df = pd.DataFrame(clean_westla_df.loc[clean_westla_df["year"] == 2021, :])
westla_2022_df = pd.DataFrame(clean_westla_df.loc[clean_westla_df["year"] == 2022, :])
westla_2020_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
28,10/15/2020 12:00:00 AM,2020-10-15,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679,2020,NaN,NaN
31,11/24/2021 12:00:00 AM,2020-04-28,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762,2020,NaN,NaN
39,06/20/2020 12:00:00 AM,2020-06-20,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656,2020,NaN,NaN
58,06/24/2020 12:00:00 AM,2020-06-23,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870,2020,NaN,NaN
70,07/23/2020 12:00:00 AM,2020-06-22,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857,2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
198923,03/03/2023 12:00:00 AM,2020-10-14,1215,West LA,THEFT OF IDENTITY,68,900 ILIFF ST,34.0459,-118.5187,2020,NaN,NaN
199042,04/09/2023 12:00:00 AM,2020-04-01,1200,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",70,2100 CENTURY PARK,34.0585,-118.4119,2020,NaN,NaN
199114,04/25/2023 12:00:00 AM,2020-01-01,800,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",56,16700 MONTE HERMOSO DR,34.0677,-118.5520,2020,NaN,NaN
199130,04/03/2023 12:00:00 AM,2020-10-12,1340,West LA,THEFT OF IDENTITY,55,900 BEL AIR RD,34.0894,-118.4418,2020,NaN,NaN
199131,04/26/2023 12:00:00 AM,2020-09-01,800,West LA,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,2000 S ROBERTSON BL,34.0423,-118.3873,2020,NaN,NaN

In [68]:
westla_2021_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
199155,07/04/2021 12:00:00 AM,2021-03-26,930,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",56,1100 S BEDFORD ST,34.0546,-118.3806,2021,NaN,NaN
199161,03/28/2021 12:00:00 AM,2021-03-28,1652,West LA,THEFT PLAIN - PETTY ($950 & UNDER),57,SANTA MONICA BL,34.0611,-118.4184,2021,NaN,NaN
199196,01/11/2021 12:00:00 AM,2021-01-10,1800,West LA,VEHICLE - STOLEN,0,1200 FEDERAL AV,34.0476,-118.4565,2021,NaN,NaN
199233,04/06/2022 12:00:00 AM,2021-10-21,1555,West LA,THREATENING PHONE CALLS/LETTERS,37,800 S BEDFORD ST,34.0630,-118.3804,2021,NaN,NaN
199317,07/20/2021 12:00:00 AM,2021-07-19,1500,West LA,VEHICLE - STOLEN,0,2500 S SEPULVEDA BL,34.0348,-118.4339,2021,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
408053,04/18/2021 12:00:00 AM,2021-04-16,206,West LA,TRESPASSING,0,1300 VETERAN AV,34.0556,-118.4459,2021,NaN,NaN
408086,12/31/2021 12:00:00 AM,2021-12-30,1830,West LA,VEHICLE - STOLEN,0,2300 FOX HILLS DR,34.0501,-118.4144,2021,NaN,NaN
408092,09/07/2021 12:00:00 AM,2021-09-07,100,West LA,BATTERY - SIMPLE ASSAULT,34,ENTRADA DR,34.0283,-118.5182,2021,NaN,NaN
408104,12/21/2021 12:00:00 AM,2021-12-19,2000,West LA,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,77,1100 VIA DE LA PAZ,34.0490,-118.5267,2021,NaN,NaN
408105,08/08/2021 12:00:00 AM,2021-07-08,106,West LA,THEFT FROM MOTOR VEHICLE - ATTEMPT,48,1900 S CORNING ST,34.0410,-118.3802,2021,NaN,NaN

In [64]:
westla_2020_df["month"] = np.nan

In [65]:
westla_2020_df['month']= westla_2020_df['DATE OCC'].dt.month
westla_2020_df

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
28,10/15/2020 12:00:00 AM,2020-10-15,2000,West LA,BATTERY - SIMPLE ASSAULT,50,100 S ACARI DR,34.0701,-118.4679,2020,10,NaN
31,11/24/2021 12:00:00 AM,2020-04-28,100,West LA,THEFT OF IDENTITY,27,8500 CASHIO ST,34.0507,-118.3762,2020,4,NaN
39,06/20/2020 12:00:00 AM,2020-06-20,1000,West LA,BATTERY - SIMPLE ASSAULT,78,12100 SANTA MONICA BL,34.0423,-118.4656,2020,6,NaN
58,06/24/2020 12:00:00 AM,2020-06-23,2200,West LA,BATTERY - SIMPLE ASSAULT,24,8900 HARGIS ST,34.0352,-118.3870,2020,6,NaN
70,07/23/2020 12:00:00 AM,2020-06-22,2005,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",42,2800 S BEDFORD ST,34.0346,-118.3857,2020,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
198923,03/03/2023 12:00:00 AM,2020-10-14,1215,West LA,THEFT OF IDENTITY,68,900 ILIFF ST,34.0459,-118.5187,2020,10,NaN
199042,04/09/2023 12:00:00 AM,2020-04-01,1200,West LA,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",70,2100 CENTURY PARK,34.0585,-118.4119,2020,4,NaN
199114,04/25/2023 12:00:00 AM,2020-01-01,800,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",56,16700 MONTE HERMOSO DR,34.0677,-118.5520,2020,1,NaN
199130,04/03/2023 12:00:00 AM,2020-10-12,1340,West LA,THEFT OF IDENTITY,55,900 BEL AIR RD,34.0894,-118.4418,2020,10,NaN
199131,04/26/2023 12:00:00 AM,2020-09-01,800,West LA,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0,2000 S ROBERTSON BL,34.0423,-118.3873,2020,9,NaN

In [66]:
westla_2020_df.sort_values("month")

,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,LOCATION,LAT,LON,year,month,day
69641,01/20/2020 12:00:00 AM,2020-01-17,2100,West LA,BIKE - STOLEN,32,10500 ASHTON AV,34.0638,-118.4309,2020,1,NaN
59075,01/28/2020 12:00:00 AM,2020-01-28,1700,West LA,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0,1500 WESTWOOD BL,34.0541,-118.4407,2020,1,NaN
13423,01/28/2020 12:00:00 AM,2020-01-27,2200,West LA,BURGLARY FROM VEHICLE,52,1600 SAWTELLE BL,34.0471,-118.4490,2020,1,NaN
59104,01/17/2020 12:00:00 AM,2020-01-11,800,West LA,THEFT OF IDENTITY,28,1700 S DURANGO AV,34.0494,-118.3885,2020,1,NaN
64920,01/29/2020 12:00:00 AM,2020-01-25,2300,West LA,BURGLARY FROM VEHICLE,37,12300 MONTANA AV,34.0482,-118.4754,2020,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
87669,12/28/2020 12:00:00 AM,2020-12-28,944,West LA,INTIMATE PARTNER - SIMPLE ASSAULT,44,KEY,34.0499,-118.3855,2020,12,NaN
12219,12/07/2020 12:00:00 AM,2020-12-07,1857,West LA,BATTERY WITH SEXUAL CONTACT,27,GLENDON,34.0625,-118.4440,2020,12,NaN
52979,12/05/2020 12:00:00 AM,2020-12-05,1230,West LA,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0,10200 SANTA MONICA BL,34.0600,-118.4200,2020,12,NaN
53530,12/14/2020 12:00:00 AM,2020-12-05,230,West LA,THEFT PLAIN - PETTY ($950 & UNDER),23,3100 BAGLEY AV,34.0325,-118.3955,2020,12,NaN
10071,12/30/2020 12:00:00 AM,2020-12-19,1430,West LA,THEFT PLAIN - PETTY ($950 & UNDER),19,900 STRADELLA RD,34.0857,-118.4517,2020,12,NaN

In [67]:
westla_2020_df.value_counts("Crm Cd Desc")

Crm Cd Desc
BURGLARY                                                1066
BURGLARY FROM VEHICLE                                    813
BATTERY - SIMPLE ASSAULT                                 662
THEFT OF IDENTITY                                        659
VEHICLE - STOLEN                                         648
                                                        ...
DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01       1
CONTRIBUTING                                               1
CHILD PORNOGRAPHY                                          1
BOAT - STOLEN                                              1
WEAPONS POSSESSION/BOMBING                                 1
Length: 92, dtype: int64